@import url(./variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background: var(--body-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container #heading{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
    padding: 20px auto;
}

.container h2{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.container form{
    margin-top: 50px;
}

.container form .form-group label{
    font-size: 14px;
    color: #000;
}

.container form .form-group input{
    box-shadow: none;
    color: var(--orange-color);
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.container form button{
    width: 200px;
}

.container form button[type='submit']{
    background: var(--mtn-color);
    color: var(--secondary-color);
    font-size: 26px;
}

.container form button[type='reset']{
    font-size: 26px;
}

.container .serveur{
    margin-top: 20px;
    background: var(--background-serveur);
}

.container #reponse-serveur{
    color: var(--color-serveur);
    font-size: 18px;
    font-weight: bold;
}